Source: heig-bot
Section: net
Priority: optional
Maintainer: Gabriel Roch <gabriel@roch.website>
Build-Depends: 
 debhelper-compat (= 13), 
 dh-python,
 python3-setuptools,
 python3-all,
 python3-docutils,
 python3-sphinx,
 python3-sphinx-autoapi,
 python3-sphinx-rtd-theme,
Standards-Version: 4.5.0
Homepage: https://github.com/HEIG-TS/heig-bot
Vcs-Browser: https://github.com/HEIG-TS/heig-bot
Vcs-Git: https://github.com/HEIG-TS/heig-bot.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python3-heig-bot
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-heig-bot-doc
Description: a telegram bot for access to gaps website of HEIG-VD (Python 3)
 a telegram bot for access to gaps website of HEIG-VD
 .
 This package installs the bot for Python 3.

Package: python-heig-bot-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: a telegram bot for access to gaps website of HEIG-VD (common documentation)
 a telegram bot for access to gaps website of HEIG-VD
 .
 This is the common documentation package.
